
<!--es un parcial de 'headre urilizando Handlebars' -->
 {{> head }}



   <!--es una 'pacial' de NAVBAR O MENU--  -->
   {{> navbar }}

  <div class="row">
    <div class="col-8">
      <h1>Existencialismo</h1>
        <p class="tamaño">El existencialismo es un movimiento filosófico que se preocupa por la existencia humana (la cual posteriormente se plantea que es la única) y pretende dar respuesta a los problemas del hombre, ese hombre que existe y que es algo principal pues es el principio de la existencia, pues el mundo solo es para el hombre lo que este crea de él.
            Según el existencialismo, nada existe en si, todo es mas no existe; el existencialismo supone que solo existe el hombre en si pues la existencia es el pensamiento de el yo mismo, los pensamientos que no son conocimiento lo que hace a ese ser es en sin el modo de ser del ser lo que en realidad existe; el existencialismo plantea popularmente que la existencia precede a la esencia (sastre), esto implica el concepto de que el hombre es libertad y que existe en la medida en la que es creador de sus ideas, de él mismo y de su mundo, ya que solo el hombre puede crear ideas de esa manera es lo único que existe en esta concepción. El hombre es libre de crear su esencia por medio de sus decisiones; la libertad del ser se encuentra en él mismo por tanto son tomados como sinónimos.
            El hecho de “sinonimizar” la existencia con la libertad del hombre, todo es mas no existe, y además el hombre podría “dejar de existir” renunciando a su libertad.</p>
      
    </div>


    <div class="col-4">
      
      <img src="assets/img/img.jpg" alt="img" class="img-thumbnail">
      
    </div>

  </div>

 <!--  parcial de footer, utilizando hanblebar-->
{{> footer }} 